@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f1f2f6;
  color: white;
}

.pointer {
  cursor: pointer;
}

.panel {
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-radius: 12px;
}

section {
  text-align: center;
}

section>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.credits {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 11px;
}

a {
  font-weight: bold;
  color: white;
}

a, a:visited, a:hover, a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.5s color ease;
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #81b3d2;
}

a.before:before, a.after:after {
  content: "";
  transition: 0.5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

a.before:before {
  top: -0.25em;
}

a.after:after {
  bottom: -0.25em;
}

a.before:before, a.after:after {
  height: 5px;
  height: 0.35rem;
  width: 0;
  background: #81b3d2;
}

a.left:after {
  left: 0;
}

a.before:hover:before, a.after:hover:after {
  width: 100%;
}

svg {
  width: 14px;
  display: block;
  margin: 10px auto;
  color: white;
}

svg .arrow {
  -webkit-animation: scroll 0.35s ease-in alternate infinite;
  animation: scroll 0.35s ease-in alternate infinite;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}
